ShowBoneESP 0
VisibleEsp 0
SpectateEsp 1
TriggerDelay 96
ShowBoxESP 1
TriggerHotKey 2
RCSBullet 1086324736
ShowHealthBar 1
AimFov 1.2
FovLineSize 60
AimBotHotKey 3
ShowLineToEnemy 0
RCSScale.x 2
RCSScale.y 2
ShowWeaponESP 0
Smooth 0.4
ShowFovLine 0
ShowEyeRay 0
ShowPlayerName 0
AimBot 1
AimPosition 3
AimPositionIndex 5
HealthBarType 0
BoneColor 1 1 1 1
BoneVisColor 0 0 1 1
FovLineColor 0.215686 0.215686 0.215686 0.862745
LineToEnemyColor 1 1 1 0.862745
BoxColor 0 0.817212 1 1
EyeRayColor 1 0 0 1
RadarCrossLineColor 0.862745 0.862745 0.862745 1
HeadShootLineColor 1 1 1 1
ShowMenu 1
ShowRadar 1
RadarRange 150
RadarPointSizeProportion 1
ShowCrossLine 1
RadarType 2
Proportion 2230
BoxType 0
TriggerBot 1
TeamCheck 1
VisibleCheck 1
ShowHeadShootLine 0
ShowCrossHair 0
CrossHairColor 0.176471 0.176471 0.176471 1
CrossHairSize 150
drawDot 1
tStyle 0
HorizontalLength 6
VerticalLength 6
drawOutLine 1
Gap 8
ShowAimFovRange 1
AimFovRangeColor 0 0.0323582 1 1
BoneColorESP 1 1 1 1
OBSBypass 1
BunnyHop 1
BunnyHop2 0
ShowDistance 1
RadarBgAlpha 0.3
